@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .regular-text {
       @apply text-xl;
       font-family: 'ClashDisplay-Variable';
    }
    .regular-text-bold {
        @apply text-xl font-bold;
        font-family: 'ClashDisplay-Variable';
     }
    .header-text {
        @apply text-3xl font-bold;
     }
     .app-btn {
      @apply min-w-full h-[56px] rounded-xl focus:ring-transparent
     }
     .app-input {
      @apply min-w-full focus:border-primary focus:ring-primary
     }

     .app-border {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      @apply border-2 border-gray-200 border-dashed
     }
     .app-overview-card{
        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      @apply  p-6  space-y-6 bg-white rounded-xl mb-4 w-full border border-neutral-100

     }
    .border-card{
        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        @apply  p-4  space-y-4 bg-white rounded-xl mb-4 w-full border border-neutral-100
    }
    tr {
        @apply text-xs
    }
    td {
        @apply max-w-[150px]
    }
}